.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: burlywood;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #f0d49f;
  }
  